.button-container {
  width: 100px;
  margin-left: 10px;
  -webkit-filter: drop-shadow(0px 0px 1px #D2E1FD);
}
.button-container .btn {
  width: 100%;
  height: auto;
  min-height: 25px;
  font-weight: lighter;
  font-size: 14px;
  border-radius: 2px;
}
.button-container .btn.disabled {
  background-color: #E5EFFF;
  color: gray;
  border: 0;
  outline: none;
  pointer-events: none;
}
.button-container .btn.secondary {
  background-color: white;
  color: #367BF5;
  border: 1px solid #D2E1FD;
  cursor: pointer;
}
.button-container .btn.secondary:hover {
  transform: scale(1.1);
}
.button-container .btn.primary {
  background-color: #367BF5;
  color: white;
  border: 0 solid;
  cursor: pointer;
}
.button-container .btn.primary:hover {
  transform: scale(1.1);
}
.button-container button:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
