@import '../../style/variables'

.button-container
  width: 100px
  margin-left: 10px
  -webkit-filter: drop-shadow(0px 0px 1px $secondary-color)

  .btn
    width: 100%
    height: auto
    min-height: 25px
    font-weight: lighter
    font-size: 14px
    border-radius: 2px


    &.disabled
      background-color: $disable-color
      color: gray
      border: 0
      outline: none
      pointer-events: none

    &.secondary
      background-color: white
      color: $main-color
      border: 1px solid $secondary-color
      cursor: pointer

      &:hover
        transform: scale(1.1)

    &.primary
      background-color: $main-color
      color: white
      border: 0 solid
      cursor: pointer

      &:hover
        transform: scale(1.1)


  button:focus
    outline: none

