.text-area-container {
  width: 450px;
}
.text-area-container .textArea {
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
  resize: both;
  overflow: hidden;
  min-height: 50px;
  line-height: 20px;
  border: 1px solid #E5EFFF;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2px;
}
.text-area-container .textArea:focus {
  outline: none;
  border: 1px solid #367BF5;
}

/*# sourceMappingURL=style.css.map */
