@import '../../style/variables'

.text-area-container
  width: 450px
  //div
  //  display: inline-block
  //  border: solid 1px #000
  //  min-height: 200px
  //  width: 100%

  .textArea
    padding-left: 5px
    padding-top: 5px
    width: 100%
    resize: both
    overflow: hidden
    min-height: 50px
    line-height: 20px
    border: 1px solid $disable-color
    font-family: Arial, Helvetica, sans-serif
    border-radius: 2px

  .textArea:focus
    outline: none
    border: 1px solid $main-color




