.input-container {
  width: 250px;
}
.input-container input {
  width: 100%;
  height: 30px;
  border: 1px solid #E5EFFF;
  border-radius: 2px;
  padding-left: 10px;
}
.input-container input:focus {
  outline: none;
  border: 1px solid #367BF5;
}

/*# sourceMappingURL=style.css.map */
