@import '../../style/variables'

.input-container
  width: 250px

  input
    width: 100%
    height: 30px
    border: 1px solid $disable-color
    border-radius: 2px
    padding-left: 10px


  input:focus
    outline: none
    border: 1px solid $main-color



