.postEdit-container {
  width: 500px;
  border: 2px solid #367BF5;
  border-radius: 16px;
  margin: 15px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left: 550px;
}

.postEdit-footer {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postEdit-footer p {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
