.post-container {
  width: 500px;
  min-height: 150px;
  border: 2px solid #367BF5;
  border-radius: 16px;
  padding: 10px;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-container-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.post-container-footer p {
  font-weight: bold;
}

.post-text {
  text-align: left;
}
.post-text.text-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-title p {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

/*# sourceMappingURL=style.css.map */
