@import '../../style/variables'

.post-container
  width: 500px
  min-height: 150px
  border: 2px solid $main-color
  border-radius: 16px
  padding: 10px
  margin: 15px
  font-family: Arial, Helvetica, sans-serif

.post-container-footer
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 20px

  p
    font-weight: bold

.post-text
  text-align: left
  &.text-hidden
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden

.post-title
  p
    font-size: 24px
    font-weight: bold
    margin: 10px 0
