body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 0;
  outline: none;
  border: 0;
}

.mainContainer {
  display: flex;
  align-items: flex-start;
}

/*# sourceMappingURL=style.css.map */
